version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: flashdb
      POSTGRES_USER: flashuser
      POSTGRES_PASSWORD: flashpass
    ports:
      - "5435:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6381:6379"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8002:8000"
    depends_on:
      - db
      - redis
    environment:
      - DEBUG=True
      - DATABASE_URL=postgresql://flashuser:flashpass@db:5432/flashdb
      - REDIS_URL=redis://redis:6379/0

  celery:
    build: ./backend
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis
    environment:
      - DEBUG=True
      - DATABASE_URL=postgresql://flashuser:flashpass@db:5432/flashdb
      - REDIS_URL=redis://redis:6379/0

volumes:
  postgres_data: